/* reusable compontents */
.section-title{
    padding-bottom: 20px;
}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #2c4964;
    margin-bottom: 38px;
}

.section-title h2::after {
    content: "";
    width: 45px;
    background-color: rgb(25, 119, 204);
    height: 3px;
    display: block;
    position: absolute;
    top: 55px;
    left: calc(50% - 20px);
}
.section-title h2::before {
    content: "";
    width: 120px;
    background-color: silver;
    height: 1px;
    display: block;
    position: absolute;
    top: 56px;
    left: calc(50% - 60px);
}
/* --------------------------
-----------header styles----------
------------------------------ */
.navbar-bg{
    background-color: #fff;
}
.navbar .navbar-brand.navbar-btn{
    color:#2c4964;
    font-size: 30px;
    font-weight: 700;

}
.navbar-nav .nav-item .nav-link.my-link{
    color: #2c4964;
    transition:.3s;
    padding-bottom: 0;
}
.navbar-nav .nav-item .nav-link.my-link:after {
    position: relative;
    top:4px;
    content: "";
    display: block;
    border-bottom: 2px solid;
    border-color: white;
    transition:.4s ;
}
.navbar-nav .nav-item .nav-link.my-link:hover{
    color: #1977cc; 
}
.navbar-nav .nav-item .nav-link.my-link:hover::after{
    border-color: #1977cc;
}
.navbar-nav .nav-item .nav-link.my-link.active{
    color: #1977cc;
}
.navbar-nav .nav-item .nav-link.my-link.active::after{
    border-color: #1977cc;
}
.nav-link.dropdown-toggle{
    color:#2c4964;
}
.nav-link.dropdown-toggle::before {
    position: relative;
    top:28px;
    content: "";
    display: block;
    height:1.4px;
    background-color: white;
    border: none;
    transition:.4s ;
}
.nav-link.dropdown-toggle:hover::before {
   background-color: #1977cc;
}
.appointment-btn{
    font-size: 14px;
}
.menu-btn{
    font-size: 25px;
    color: #2c4964;
    outline: none;
    border: none;
    background: none;
}
.offcanvas-body .nav-link.dropdown-toggle{
    color:#1977cc;
}

/*--------------------------
----- hero section started -----
-----------------------------*/
#hero-section{
    height: 80vh;
    background-image: url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.banner-info .hero-title{
    font-size: 50px;
    color: #2c4964;
}
.banner-info p{
    font-size: 25px;
    color: #2c4964;
}






/* --------------------------
------------media query ----------
-------------------------------*/
#why-us{
    padding: 80px 0;
}
.learn-more-btn {
    background: #ffffff6b;
    color: white;
    border-radius: 50px;
    padding: 8px 30px;
    font-size: 17px;
    transition:.4s;
}
.learn-more-btn:hover {
    background-color: #ffffff;
    color:#1977cc;
}
.icon-box {
    border-radius: 5px;
    text-align: center;
    /* height: 300px; */
    box-shadow: 0px 0 5px 0px #d1d1d18f;
}

.icon-box i {
    font-size: 40px;color: #7070ff;
}
/* ---------------------------
----------about section----------
---------------------------- */
.about-title{
    color:#2c4964;
    font-size: 32px;
}
.about-img{
    position:relative;
}
.about-video {
    padding: 29px 33px;
    background-color: rgb(25, 119, 204);
    box-shadow: 0px 0 0px 19px rgb(25 119 204 / 22%);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about-video a i{
    transition: .3s;
}
.about-video:hover a i{
    transform: scale(1.1);
}
.about-video{
    transition: .4s;
}
.about-video i{
    font-size: 32px;
    color: white;
}
.about-video:hover{
    cursor: pointer;
}
.about-icon:hover .icon{
    background-color: rgb(25, 119, 204);
}
.about-icon .icon{
    transition: .4s;
}
.about-icon .icon span{
    transition:.4s;
}
.about-icon:hover .icon span{
    color:#fff;
}
.icon {
    padding: 6px 15px;
    border-radius: 50%;
    margin-right: 24px;
    font-size: 33px;
    border: 1px solid rgb(25, 119, 204);
    color: rgb(25, 119, 204);
}
/* ------------------------
----------counter section-------
-------------------------- */
#counter-section{
    background-color: #f1f7fd;
}
.counter-box {
    background-color: #fff;
}
.counter-box i {
    background-color: #1977cc;
    padding: 11px 13px;
    border-radius: 50%;
    position:relative;
    top:-44px;
}
/* ----------------------
---------services section--------
---------------------------- */
.service-box {
    border: 1px solid #d5e1ed;
    padding: 85px 25px;
    text-align: center;
    transition: .4s;
}
.service-box:hover{
    background-color: #1977cc;
}
.service-box:hover .service-icon{
    background-color: #fff;
}
.service-box:hover .service-icon i{
    color: #1977cc;
}
.service-box h4 {
    color: #2c4964;
    font-size: 25px;
    font-weight: 700;
}
.service-icon h4{
    transition: .4s;
}
.service-icon p{
    transition: .4s;
}

.service-box:hover h4{
    color: #fff;
}
.service-box:hover p{
    color: #fff;
}
.service-icon {
    width: 70px;
    height: 70px;
    margin: auto;
    background: #1977cc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    transition: .4s;
}
.service-box .service-icon::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #badaf7;
    border-radius: 5px;
    position: absolute;
    top: -10px;
    left: -10px;
    transition: .4s;
    z-index:-1;
}
.service-icon i{
    color:white;
    font-size: 30px;
    transition: .3s;
}
/*-----------------------------
------ appointment section-------- 
--------------------------------*/
#appointment{
    background-color:#f1f7fd;
}
.my-form {
    border-radius: 0;
    padding: 8px;
    outline: none;
}

.my-form:focus {
    border: 1px solid #0000ce;
    outline: none;
    box-shadow: none;
}

/* --------------------
----------Departments------- 
-------------------------*/
a.nav-link.tablink {
    color: #2c4964;
    border-right: 1px solid #9e9e9e69;
    padding: 10px 0;
    font-weight: 600;
    transition: .4s;
}
a.nav-link.tablink.active{
    color: #1977cc;
    border-right: 3px solid #1977cc;
}
a.nav-link.tablink:hover {
    color: #1977cc;
}
.dept-details h3 {
    color: #2c4964;
    font-size: 28px;
    font-weight: 700;
}
/* -------------------------
-----------Doctors section----------
----------------------------- */

.doctor-profile {
    padding: 30px;
    box-shadow: 0px 2px 15px rgb(44 73 100 / 8%);
    border-radius: 8px;
}
.doctor-profile:hover .doctor-img img{
    transform: scale(1.1);
}
.doctor-img{
    width:180px;
    overflow: hidden;
    border-radius: 50%;
}
.doctor-img img{
    width: 100%;
    transition: .3s;
}
.doctor-info {
    padding-left: 30px;
}
.doctor-info h4{
    color: #2c4964;
}
.doctor-info hr {
    width: 50px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #a0bcd5;
    padding: 0;
}
.doctor-social {
    display: flex;
    justify-content: start;
}
.doctor-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    margin-right: 8px;
    height: 35px;
    background-color: #a0bcd5;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    transition:.3s;
}
.doctor-social a:hover{
    background-color: #1977cc;
}



/* ----------------------
-----------FAQ Section---------
------------------------ */
#faq{
    background-color: #f1f7fd;
}
.accordion-item {
    margin-bottom: 25px;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
button.accordion-button {
    border-bottom: 0;
    background: none;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}
button.accordion-button i{
    color: #1977cc;
}
.accordion-button:hover{
    color:#1977cc;
}
button.accordion-button:focus{
    border: none;
    box-shadow: none;
}
.accordion-button:not(.collapsed){
     background-color: #fff;
     border: 0;
}
.accordian-body{
    padding-top: 0px;
}




/* ---------------------------------------
--------------for responsive devices---------------
------------------------------------------ */
@media only screen and (max-width:992px){
    a.nav-link.tablink{
        padding-left: 20px;
    }
    a.nav-link.tablink.active{
        background-color: #1977cc;
        color:#fff;
        border:0;
    }
    
}